deepgram_sdk==2.11.0
fastapi==0.103.2
fastapi_sso==0.7.2
nanoid==2.0.0
pydantic==1.9.2
python-dotenv==1.0.0
python_bcrypt==0.3.2
Requests==2.31.0
SQLAlchemy==1.4.40
SQLAlchemy==2.0.21
starlette==0.31.1
uvicorn==0.18.2
